@import "../../../variables";

.about {
  display: block;
  position: relative;
  z-index: 100;
  background: $bg-primary;
  width: 100%;
  color: $text-primary;
  transition: 0.5s;
  padding-top: 2rem;

  .container {
    max-width: 70%;
    margin: 0 auto;

    .content {
      .title-about {
        margin: 0 auto;
        text-align: center;
        padding-top: 2rem;

        font: {
          size: 3rem;
          weight: 700;
        }

        text-shadow: 3px 3px 6px $text-shadow;
      }

      .content-about {
        margin-top: 2.5rem;

        .content-about-image {
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;

          .avatar-img {
            width: 100%;
            height: auto;
            border: 5px solid transparent;
            border-image: linear-gradient(to right, black, #333333, #555555, #777777, #aaaaaa, white) 1;
            border-radius: 0 !important;
          }

          .ant-image-mask {
            overflow: hidden;
          }
        }

        .content-about-text {
          height: 25rem;
          padding-left: 2rem !important;

          p {
            padding-top: 1rem;
            font-size: 1.3rem;
          }
        }
      }
    }
  }
}
