.App {
  &.light-theme {
    --text-primary: #000000;
    --text-secondary: #7d7d7d;
    --theme-color-primary: #cccccc;
    --theme-color-secondary: #f1f1f1;
    --bg-primary: #ffffff;
    --bg-secondary: #eeeeee;
    --accent-primary: #0066d3; // Blue accent color

    --bg-primary-rgb: 255, 255, 255;

    --header-bg-color: rgba(var(--bg-primary-rgb), 0.9);
  }

  &.dark-theme {
    --text-primary: #e0e0e0;
    --text-secondary: #a3a3a3;
    --theme-color-primary: #4d4d4d;
    --theme-color-secondary: #333333;
    --bg-primary: #121212;
    --bg-secondary: #1d1d1d;
    --accent-primary: #0066d3;

    --bg-primary-rgb: 18, 18, 18;

    --header-bg-color: rgba(var(--bg-primary-rgb), 0.85);
  }
}

// Usage of CSS variables for other components
$text-primary: var(--text-primary);
$text-secondary: var(--text-secondary);
$theme-color-primary: var(--theme-color-primary);
$theme-color-secondary: var(--theme-color-secondary);
$bg-primary: var(--bg-primary);
$bg-secondary: var(--bg-secondary);
$accent-primary: var(--accent-primary);
$header-bg-color: var(--header-bg-color);
